pandas
plotly
streamlit
python-dotenv
numpy
scikit-learn
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
langchain-openai
openai
faiss-cpu
sentence-transformers
